<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-theme="{{ site.bg_color | default: "auto" }}">
  <head>
    <!-- Google tag (gtag.js) -->
    {% if site.gtag  %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.gtag }}');
    </script>
    {% endif  %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Meta content -->
    {% if site.bg_color == "dark" %}
    <meta name="theme-color" content="#13171F" />
    {% endif %}
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ "/assets/img/favicon.png" | relative_url }}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap"
      rel="stylesheet"
    />
    <!-- Pico.css from CDN -->
    <link
      rel="stylesheet"
      {% if site.theme_color and site.theme_color != "azure" %}
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.{{ site.theme_color }}.min.css"
      {% else %}
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
      {% endif %}
    />
    <!-- Base styles -->
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <!-- Code highlight styles -->
    <link rel="stylesheet" href="{{ "/assets/css/base16.solarized.css" | relative_url }}">
    <!-- Custom styles -->
    {% assign custom_css = site.static_files | where: "path", "/assets/css/custom.css" | first %}
    {% if custom_css %}<link rel="stylesheet" href="{{ custom_css.path | relative_url }}">{% endif %}
  </head>

  <body>
    <!-- Header section -->
    <header class="container">
      <nav>
        <ul>
          <li><strong><a class="contrast nav_title" href="{{ "/" | absolute_url }}">{{ site.title }}</a></strong></li>
        </ul>
        {% include menu_links.md %}
      </nav>
    </header>
    <!-- Main section -->
    <main class="container">
      <!-- README.md starts from here -->
      {{ content }}
      <!-- README.md ends here -->
    </main>
    <!-- Footer section -->
    <footer>&nbsp;</footer>
    <!-- Custom Js placeholder -->
  </body>
</html>
