<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-theme="{{ site.bg_color | default: "auto" }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Meta content -->
    {% if site.bg_color == "dark" %}
    <meta name="theme-color" content="#13171F" />
    {% endif %}
    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <title>{{ site.title }}</title>
    <!-- Favicon -->
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon-16x16.png"
    />
    <link rel="manifest" href="img/site.webmanifest" /> -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap"
      rel="stylesheet"
    />
    <!-- Pico.css from CDN -->
    <link
      rel="stylesheet"
      {% if site.theme_color and site.theme_color != "azure" %}
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.{{ site.theme_color }}.min.css"
      {% else %}
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
      {% endif %}
    />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Code highlight styles -->
    <link rel="stylesheet" href="css/base16.solarized.css" />
  </head>

  <body>
    <!-- Header section -->
    <header></header>
    <!-- Main section -->
    <main>
      <!-- README.md starts from here -->
      {{ content }}
      <!-- README.md ends here -->
    </main>
    <!-- Footer section -->
    <footer></footer>
    <!-- Custom Js placeholder -->
  </body>
</html>
